Source: ipaddress
Section: python
Priority: extra
Maintainer: Endre Karlson <endre.karlson@gmail.com>
Build-Depends: python, debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://pypi.python.org/pypi/ipaddress
#Vcs-Git: git://git.debian.org/collab-maint/ipaddress.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/ipaddress.git;a=summary

Package: python-ipaddress
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: IPv4/IPv6 manipulation library
 Port of the 3.3+ ipaddress module to 2.6 and 2.7
